.gitbook-link {
    display: none !important;
}

div.code-wrapper code {
	white-space: pre-wrap !important;
    word-break: break-all !important;
    word-wrap: break-word !important;
}

code .code-line {
	white-space: pre !important;
}